/*
Theme Name: Cobertend
Description: Landing Page 
Author: Hedellen Fernandes // hedellenf@gmail.com
Version: 1.0
*/

/*============================================ESTRUTURA DA PAGE=================================================*/

body {
	font-family:"Raleway";
	font-size:1em;
	font-weight:100;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

header,
.container-header,
.container-protect-event,
.container-protect-event__text-protect,
.container-location,
.container-button-top,
.container-contact {
	width:100%;
	float:left;
}

.container-button-top {
	width:100%;
	position:fixed;
	bottom:40px;
}

@-webkit-keyframes zoom{
    0%{
        background-size:100%;
    }
    100%{
        background-size:500%;
    }
}
@keyframes zoom{
    0%{
        background-size:100%;
    }
    100%{
        background-size:500%;
    }
}


.container-header {
	-webkit-animation:zoom 150s infinite;
	animation:zoom 150s infinite;
	background:#25af71 url(img/bg-verde.jpg) no-repeat center center;
}

.container-protect-event {
	height:380px;
	background:#ff6e05 url(img/bg-laranja-paralax.jpg)no-repeat;

	background-position: 50% 0;
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container-location {
	height:1080px;
	background:#916d91 url(img/bg-lilas.jpg)no-repeat center center;
}

.container-contact {
	height:1080px;
	background:#916d91 url(img/bg-azul.jpg)no-repeat center center;
}

.guide {
	width:1286px;
	margin:0 auto;
}

/*============================================ESTRUTURA DA HEADER=================================================*/



header {
	position:absolute;
	margin:40px 0 0 0;
	background:none;
}





.container-header__icon-menu,
.geral-menu,
.geral-menu-clicado,
.clicado {
	position: absolute;
	display: block;
	width: 20px;
	padding: 3px 0;
	border: solid #fff;
	border-width: 3px 0;
	z-index: 2;
	cursor: pointer;
}

.container-header__icon-menu,
.clicado {
	right: 26px;
	top: 29px;
}

.clicado {
	top:34px;
	right:25px;
	border-bottom:0;
	-webkit-transform:scale(1) rotate(-45deg);
		-moz-transform:scale(1) rotate(-45deg);
		-o-transform:scale(1) rotate(-45deg);
		transform:scale(1) rotate(-45deg);
}

.clicado:before {
	
	-webkit-transform:scale(1) rotate(90deg);
		-moz-transform:scale(1) rotate(90deg);
		-o-transform:scale(1) rotate(90deg);
		transform:scale(1) rotate(90deg);

}

.geral-menu,
.geral-menu-clicado {
	top:40px;
	right:40px;
	width: 72px;
	height:72px;
	padding:0;
	border:3px solid #fff;
}

.geral-menu-clicado {
	display: none;
}

.container-header__icon-menu:before,
.clicado:before {
	content: "";
	display: block;
	height: 3px;
}

.clicado:before {
	background: #fff;
}

.container-header__icon-menu:before {
	background: #fff;
}


.clicado {display:none;}

.menu,	
.menu ul {
	float:right;	
	width:auto;
}

.menu {
	margin:18px 0 0 0;
}

@media screen and (min-width: 1350px) {
	.menu {
		margin-right:95px;
	}
}


.menu li {
	float:left;
	width:auto;
	padding:12px 30px;
}

.menu a {
	color:#fff;
	font-size: 1.143em;
	font-weight: 500;
	text-decoration:none;
	transition:opacity .3s linear;
}

.menu {display:none;}

.container-header__soon {
	position:absolute;
	top:50%;
	left:50%;
	margin:-47px 0 0 -156px;
	width:312px;
	height:94px;
}

.container-header__soon img {
	width:312px;
	height:94px;
}

.total{
	position:absolute;
	width:41px;
	height: 28px;
	padding: 30px;
	bottom:0px;
	left: 50%;
	margin:0 0 0 -50.5px;
	cursor:pointer;
	transition: .2s linear;
}


.container-header__button-bottom {
	width:28px;
	height: 1px;
	margin:10px 0 0 -4px;
	float: left;
	background: #fff;
	text-align:center;
	-webkit-transform:scale(1) rotate(45deg);
		-moz-transform:scale(1) rotate(45deg);
		-o-transform:scale(1) rotate(45deg);
		transform:scale(1) rotate(45deg);
}

.total:hover {
	transition: .2s linear;
	bottom:-10px;
}

.container-header__button-bottom:before {
  content: " ";
  float: left;
  margin: -14px 0 0 14px;
  width: 29px;
  height: 1px;
  background: #fff;
  -webkit-transform:scale(1) rotate(-90deg);
  	-moz-transform:scale(1) rotate(-90deg);
  	-o-transform:scale(1) rotate(-90deg);
  	transform:scale(1) rotate(-90deg);
}


.container-protect-event__text-protect,
.container-location__tents { 
	padding:60px 0 160px 0;
	text-align:center;
	background:url(img/icon_tim.png) no-repeat top 40px center;
}

.list-images,
.list-images ul {
	width:100%;
	float:left;
}

.list-images {padding:180px 0;}

.list-images ul {margin:40px 0;}

.cinza ,
.normal{
	width:321.5px;
	height:240px;
	float:left;
	overflow:hidden;
	background:#fafafa;
}

.cinza {background:#ccc !important}

.list-images__view-more {
	float:right;
	width:220px;
	height:55px;
	font-size:1.143em;
	font-weight:500;
	color:#fe4a4b;
	background:url(img/icon_galery.png) no-repeat center right;
	transition:opacity .3s linear;
}

.container-location__tents {
	padding:450px 0 160px 0;
	background:url(img/icon_balloon.png) no-repeat top 190px center;
}

.container-button-top__buttom{
	float:right;
	width:56px;
	height:55px;
	cursor:pointer;
 
}

.contact {
	margin:200px auto;
	padding:110px 0;
	width:445px;
	text-align: center;
	background:url(img/icon_phone.png)no-repeat top center;
}

.contact svg {
	margin:0 0 65px 0;
}
/*==================================================H2============================================================*/
.container-protect-event__text-protect img {
	width: 76px;
	height:70px;
	margin:0 0 45px 0;
	opacity: .6;
}

.container-protect-event__text-protect h2 {
	color:#fff;
	font-weight:100;
	font-size:2.95em;
}

/*COR DO HOVER*/


.list-images h2{
	font-weight:400;
	color:#6D6D6D;
	font-size:2.399em;
}
.total-img {
	margin:10px 0 0 0;
}

.total-img,
.total-img ul {
	float:left;
	width: 100%;
}

.total-img ul li {
	float: left;
	width: calc(100% / 5 - 3px);
	margin-right:1px;
}

.total-img ul li:last-child {
	margin-right:0;
}

.total-img ul li a {
	float:left;
	width: calc(100% - 60px);
	height:400px;
	padding:30px;
	color:#fff;
	background:#6D6D6D;
	text-align: center;
	text-decoration: none;
	border-right:1px solid #fff;
}

.total-img a h3 {
	margin:140px 0 0 0;
	font-size:1.286em;
	font-weight: 500;
}

.total-img a h4 {
	margin:9px 0 124px 0;
	font-weight: 400;
	font-size: 1.599em;
}

.total-img li:nth-child(n+4) a h4 {
	margin:140px 0 124px 0;
}

.total-img ul li a:hover {
	background:#fe4a4b;
}

.total-img ul li a h3,
.total-img ul li a h4 {
	color:#fff;
}

.container-location__tents h2,
.container-location__tents h3 {
	font-weight: 500;
	color: #fff;
	font-size: 3.7em;
	letter-spacing: 15px;
	line-height:90px;
}

.container-location__tents h3 {
	font-size:4.78em;
	font-weight:100;
}

.list-images__view-more p {margin:20px 0 0 0;}

.contact h2 {
	font-weight: 500;
	color: #fff;
	font-size: 2.94em;
}

.contact h3 {
	color: #fff;
	font-size: 4.67em;
}
/*=================================================HOVER==========================================================*/

menu a:hover,
.container-header__icon-menu:hover,
.list-images__view-more:hover{
	transition:opacity .2s linear;
	opacity:0.5;
	cursor:pointer;
}

.total-img ul li a,
.total-img ul li a:hover,
.total-img ul li a:hover h4,
.total-img ul li a h4 {
	transition: .1s linear;
}

.total-img ul li a:hover h4  {
	margin-bottom:104px;
}

/*==============================================FORMULARIO========================================================*/

.screen-reader-response ,
.wpcf7-not-valid-tip{display:none;}

.wpcf7-response-output{margin:355px 0 0 0;}

.wpcf7-validation-errors {color:#fff;}

.contact ul{display:none;}

.contact form {
	width:445px;
	float:left;
	margin:40px 0 0 0;
}

.contact input,
.contact textarea {
	float:left;
	width:405px;
	border:0;
	padding:35px 20px;
	margin:10px 0 0 0;
	color:#000;
	font-family:"Raleway";
	font-weight:500;
}

.contact textarea {
	width:346px;
	height:100px;
	padding:35px 80px 35px 20px;
}

input[type="submit"] {
	float:right;
	width:55px;
	height:55px;
	margin:-78px 20px 0 0;
	padding:0;
	color:transparent;
	cursor:pointer;
	background:url(img/icone-enviar.svg)no-repeat center center;

}

::-webkit-input-placeholder {
   color:#000;
   font: 500 16px "Raleway";
}

#voltar {
	display:none;
}

@media screen and (max-width: 768px){

	.container-location__tents {padding:222px 0;}
	.container-location__tents h2, .container-location__tents h3 {font-size:2.7em;}
	.geral-menu,.geral-menu-clicado {position: fixed;top:20px;right:20px;}
	header {margin:20px 0 0 0;right:-20px;position: absolute;}
	menu {position: fixed;;width: 100%;right: 0px;top: 0px;z-index: 1;}
	.menu {margin:0;padding:10px 0 0 0;width:100%;height: 100%;position: fixed;background:#25af71;z-index: 99999;}
	.menu li {width: 100%;text-align: left;}
	.container-button-top {bottom:20px;right: -20px;}
	.guide {margin:0 5%;width:90%;}
	.total-img ul li{width:100%;margin:0 0 1px 0;}
	.total-img ul li a {height:260px;}
	.total-img a h3 {margin:70px 0 0 0;}
	.total-img a h4 {margin-bottom:52px;}
	.total-img li:nth-child(n+4) a h4 {margin:70px 0 52px 0;}
	.container-header {background-image:none;}
}

@media screen and (max-width:445px) {
	.contact form,
	.contact,
	.contact input, 
	.contact textarea {
		width: 100%;
	}

	.contact textarea  {
		padding: 35px 20px;
	}
	
	.contact {
		margin:0 auto;
	}

	.contact input, 
	.contact textarea {
		width: calc(100% - 40px);
	}
}

@media screen and (max-width: 370px){

	.container-protect-event  {background-image:none;}
	.container-protect-event__text-protect h2,.container-location__tents h2, .container-location__tents h3 {font-size: 2.55em;}
	.list-images {padding:90px 0;} 
	.container-location__tents h2, .container-location__tents h3 {text-align: center;line-height:54px;}
	.container-location__tents {padding:90px 0 160px 0;}
	.container-location {height:639px;}
}

.total-img .ngg-galleryoverview {
	display:none !important;
}

.clicado {
	padding:0 !important;
}

.clicado:before {
	margin:-3px 0 0 0 !important;
}