/*============================================ESTRUTURA DA PAGE=================================================*/

body {
	font-family:"Raleway";
	font-size:14px;
	font-weight:100;
}

header,
.container-header,
.container-protect-event,
.container-protect-event__text-protect,
.container-location,
.container-location__button-top,
.container-contact {
	width:100%;
	float:left;
}

.container-header {background:#25af71 url(img/bg_green.jpg) no-repeat center center;}

.container-protect-event {
	height:380px;
	background:#ff6e05 url(img/bg_orange.jpg)no-repeat center center;
}

.container-location {
	height:1080px;
	background:#916d91 url(img/bg_violet.jpg)no-repeat center center;
}

.container-contact {
	height:1080px;
	background:#916d91 url(img/bg_green2.jpg)no-repeat center center;
}

.guide {
	width:1286px;
	margin:0 auto;
}

/*============================================ESTRUTURA DA HEADER=================================================*/

header {margin:40px 0 0 0;}

.container-header__icon-menu,
.clicado{
	float:left;
	width:78px;
	height:36px;
	cursor:pointer;
	margin:-76px 10px 0 0;
	background:url(img/box_menu.png)no-repeat center center;
	transition:opacity .3s linear;
}

.clicado {display:none;}

#menu,	
#menu ul {
	float:left;	
	width:1198px;
}

#menu li {
	float:left;
	width:auto;
	padding:12px 30px;
}

#menu a {
	color:#fff;
	text-decoration:none;
	transition:opacity .3s linear;
}

#menu {display:none;}

.container-header__soon {
	position:absolute;
	top:50%;
	left:50%;
	margin:-47px 0 0 -165px;
	width:312px;
	height:94px;
}

.container-header__button-bottom {
	position:absolute;
	bottom:0;
	left:50%;
	margin:0 0 0 -15px;
	width:65px;
	height:35px;	
}

.container-protect-event__text-protect,
.container-location__tents { 
	padding:168px 0 160px 0;
	text-align:center;
	background:url(img/icon_tim.png) no-repeat top 40px center;
}

.list-images,
.list-images ul {
	width:100%;
	float:left;
}

.list-images {padding:180px 0;}

.list-images ul {margin:40px 0;}

.list-images li {
	width:321.5px;
	height:240px;
	float:left;
	background:#fafafa;
}

.cinza {background:#ccc !important}

.list-images__view-more {
	float:right;
	width:220px;
	height:55px;
	font-size:16px;
	font-weight:500;
	color:#fe4a4b;
	background:url(img/icon_galery.png) no-repeat center right;
}

.container-location__tents {
	padding:450px 0 160px 0;
	background:url(img/icon_balloon.png) no-repeat top 190px center;
}

.container-location__button-top {
	float:right;
	width:56px;
	height:55px;
	margin:200px 0 0 0; 
}

.contact {
	margin:200px auto;
	padding:110px 0;
	width:445px;
	background:url(img/icon_phone.png)no-repeat top center;
}
/*==================================================H2============================================================*/
.container-protect-event__text-protect h2 {
	color:#fff;
	font-weight:100;
	font-size:46px;
}

.list-images h2{
	font-weight:500;
	color:#fe4a4b;
	font-size:46px;
}

.container-location__tents h2,
.container-location__tents h3 {
	font-weight: 500;
	color: #fff;
	font-size: 58px;
	letter-spacing: 15px;
	line-height:90px;
}

.container-location__tents h3 {
	font-size:75px;
	font-weight:100;
}

.list-images__view-more p {margin:20px 0 0 0;}

.contact h2 {
	font-weight: 500;
	color: #fff;
	font-size: 45px;
}

.contact h3 {
	color: #fff;
	font-size: 73px;
}
/*=================================================HOVER==========================================================*/

menu a:hover,
.container-header__icon-menu:hover {
	transition:opacity .5s linear;
	opacity:0.5;
	cursor:pointer;
}

/*==============================================FORMULARIO========================================================*/

.contact form {
	width:445px;
	float:left;
	margin:40px 0 0 0;
}

.contact input,
.contact textarea {
	float:left;
	width:405px;
	border:0;
	padding:35px 20px;
	margin:10px 0 0 0;
	color:#000;
	font-family:"Raleway";
	font-weight:500;
}

.contact textarea {
	width:346px;
	height:100px;
	padding:35px 80px 35px 20px;
}

input[type="submit"] {
	float:right;
	width:55px;
	height:55px;
	margin:-78px 20px 0 0;
	padding:0;
	cursor:pointer;
	background:url(img/icon_send.png)no-repeat center center;

}

::-webkit-input-placeholder {
   color:#000;
   font: 500 14px "Raleway";
}
